<section class="inspect_list">
  <div class="inspect_list-header">
    <div class="text">
      <div class="title container">
        <h1 data-aos="fade-left">LIST OF INSPECTION SERVICES</h1>
        <div class="desc">
          <p data-aos="fade-down">
            UNICO Lifting Services has been providing lifting services and solutions for over two decades. We pride ourselves in offering our clients a professional service and provide wide range of high quality products, supply tools and inspection services to meet all your requirements 24 hours a day
  365 days a year. In addition our services are designed to assist our customers to improve safety, increase productivity and operational savings.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="inspect_list-content">
    <div class="container">
      <div class="row">
        <div class="title col-md-12">
          <h3 data-aos="fade-up">LIFTING SERVICES</h3>
        </div>
      </div>
    </div>
    <div class="brief" data-aos="fade-down">
      <div class="text">
        <p class="container">
          Our staff are fully trained and certified in the inspection services, all our engineers have been given specialized external and in house training. This provides objective evidence that they are competent to perform the duties required of them. All testing and inspection are carried out in strict accordance with approved standard procedures.
        </p>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="content row">
        <div class="col-md-12 top">
          <h3 data-aos="fade-down">These can be reviewed and audited by the client prior to any work being carried out, Hence we can guarantee offering the following services.</h3>
          <div class="row">
            <span class="col-md-6" data-aos="fade-right"><img src="../../../../assets/img/list-icon.png" alt="*"> Certified and calibrated set of tools.</span>
            <span class="col-md-6" data-aos="fade-left"><img src="../../../../assets/img/list-icon.png" alt="*"> Qualified inspectors to perform.</span>
          </div>
        </div>
      </div>
      <hr>
      <div class="content1 row">
        <div class="col-md-12 top" data-aos="fade-down">
          <h4>
            Six Monthly Loler SI 2307 RIG Surveys (Offshore/Onshore/Remote Location)
          </h4>
        </div>
        <div class="col-md-6 col-sm-12 left" data-aos="fade-right">
          <ul>
            <div data-aos="fade-up">
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Driling handling tools inspection</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">ROV system inspection</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">DIVE system inspection</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">NDT inspections (MPI,DPI,UT)</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Derrick inspection</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Crane inspection</li>
            </div>
            <div data-aos="fade-up">
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Dropped object surveys</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Wall thickness surveys</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Tubulars inspection</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Equipment supply</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Lift planning</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Training services</li>
            </div>
            <div data-aos="fade-up">
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Engineering & Consultancy</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Rope access surveys</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Padeye inspection</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Runway beam inspection</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">CCU inspection BS7072 ,DNV 2-7.1 BSEN 12079</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Lifting beam inspection</li>
            </div>
            <div data-aos="fade-up">
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Forklift inspection</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">MEWP mobile elevating work platform inspection</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">EOTC overhead travelling crane inspection</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Winch inspection</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">BOP inspection</li>
              <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Topdrive inspection</li>
            </div>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12 right" data-aos="fade-down">
          <img src="../../../../assets/img/lifting/list/leaa.png" alt="">
        </div>
      </div>
      <hr>
      <div class="content2 row">
        <div class="col-md-6 col-sm-12 left" data-aos="fade-down">
          <img src="../../../../assets/img/lifting/list/asent.png" alt="">
        </div>
        <div class="col-md-6 col-sm-12 right">
          <h4 data-aos="fade-up">Crane Inspection Work Scope</h4>
          <ul data-aos="fade-down">
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">NDT inspection</li>
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Boom inspection</li>
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Bolt torquining</li>
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Wire rope inspection</li>
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Hook block inspection</li>
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Hydraulics and electrical systems</li>
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">A-Frame mast and pedestal</li>
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">RCI rated capacity indicator calibartion</li>
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Static and dynamic proof load testing</li>
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Wall thickness surveys</li>
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">Crane evaluation and suitabilty surveys</li>
          </ul>
          <hr>
          <h4 data-aos="fade-down">NDT Inspection</h4>
          <ul data-aos="fade-up">
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">MT magnetic testing</li>
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">PT dye penetrate testing</li>
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">UT ultrasonic testing</li>
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">VT visual testing</li>
            <li><img src="../../../../assets/img/icons/dot-logo.png" alt="">RT radiographic testing</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
