@media (min-width: 320px) and (max-width: 480px){
  .about_inspection{
    margin-top: 0px;
  }
  .about_inspection .about_inspection-header .text .title{
    left: 0;
    text-align: center;
  }
  .about_inspection .about_inspection-header .text .title h1{
    font-size: 30px;
  }
  .about_inspection .about_inspection-header .text .title p{
    font-size: 16px;
    text-align: center;
  }
  .about_inspection .about_inspection-content .title h3{
    font-size: 35px;
  }
  .about_inspection .brief .text p{
    font-size: 18px;
  }
  .about_inspection .about_inspection-content .content .left h2{
    font-size: 20px;
  }
  .about_inspection .about_inspection-content .content .left p,
  .about_inspection .about_inspection-content .content1 .right p{
    font-size: 18px;
  }
}

@media (min-width:481px) and (max-width: 760px){
  .about_inspection{
    margin-top: 0px;
  }
  .about_inspection .about_inspection-header .text .title{
    left: 0;
    text-align: center;
  }
  .about_inspection .about_inspection-header .text .title h1{
    font-size: 35px;
  }
  .about_inspection .about_inspection-header .text .title p{
    font-size: 17px;
    text-align: center;
  }
  .about_inspection .about_inspection-content .title h3{
    font-size: 40px;
  }
  .about_inspection .brief .text p{
    font-size: 19px;
  }
  .about_inspection .about_inspection-content .content .left h2{
    font-size: 21px;
  }
  .about_inspection .about_inspection-content .content .left p,
  .about_inspection .about_inspection-content .content1 .right p{
    font-size: 19px;
  }
}

@media (min-width: 761px) and (max-width: 990px){
  .about_inspection{
    margin-top: 0px;
  }
  .about_inspection .about_inspection-header .text .title{
    left: 0;
    text-align: center;
  }
  .about_inspection .about_inspection-header .text .title h1{
    font-size: 40px;
  }
  .about_inspection .about_inspection-header .text .title p{
    font-size: 19px;
    text-align: center;
  }
  .about_inspection .about_inspection-content .title h3{
    font-size: 45px;
  }
  .about_inspection .brief .text p{
    font-size: 20px;
  }
  .about_inspection .about_inspection-content .content .left h2{
    font-size: 22px;
  }
  .about_inspection .about_inspection-content .content .left p,
  .about_inspection .about_inspection-content .content1 .right p{
    font-size: 20px;
  }
}

@media (min-width: 991px) and (max-width: 1200px){
  .about_inspection .about_inspection-header .text .title{
    left: 5%;
  }
  .about_inspection .about_inspection-header .text .title h1{
    font-size: 50px;
  }
  .about_inspection .about_inspection-header .text .title p{
    font-size: 20px;
  }
  .about_inspection .about_inspection-content .title h3{
    font-size: 50px;
  }
  .about_inspection .brief .text p{
    font-size: 20px;
  }
  .about_inspection .about_inspection-content .content .left p,
  .about_inspection .about_inspection-content .content1 .right p{
    font-size: 20px;
  }
}

@media (min-width: 1201px){
  .about_inspection .about_inspection-header .text .title{
    left: 5%;
  }
}
