.content-wrapper {
  max-width: 1400px;
  margin: auto;
}

.container-wrapper {
  display: flex;
  justify-content: space-around;
}


.list {
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
}

app-new-task {
  margin-bottom: 30px;
}

.empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}
.todo .list{
background: #bf1e2db0;
color: white;
font-family: 'Allerta Stencil', sans-serif;
}
.inprog .list{
  background: #1c3261bf;
  color: white;
  font-family: 'Allerta Stencil', sans-serif;
}
.done .list{
  background: #212529bf;
  color: white;
  font-family: 'Allerta Stencil', sans-serif;
}
h2{
  font-weight: bolder;
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: uppercase;
}
app-task{
  word-break: break-all!important;
}
