.norm{
  margin-top: -48px;
}
.norm-header{
  background: url(../../../assets/img/norm/normsafety_back.jpg) fixed center center;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.norm-header .text{
  height: 100%;
  width: 100%;
  background-color: #000000af;
}
.norm .norm-header .text .title{
  position: absolute;
  margin-top: 20%;
  color: white;
  left: 14%;
}
.norm .norm-header .text .title h1{
  font-size: 60px;
  font-weight: 800;
  font-family: 'Gugi', cursive;
  text-transform: uppercase;
}
.norm .norm-content{
  background: url(../../../assets/img/state-shape-bg.png) fixed center center;
  background-size: cover;
}
.norm .norm-content .title{
  margin-top: 30px;
  margin-bottom: 30px;
}
.norm .norm-content .title h3{
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: bolder;
  font-size: 60px;
  color: #212529;
  text-align: center;
}
.overview{
  margin-top: 50px;
}

.norm .norm-content .content{
  margin-bottom: 20px;
}
.norm .norm-content .content .img{
  width:100%;
  height: auto;
}
.norm .norm-content .content .text p{
  font-size: 21px;
  font-weight: 500;
  font-family: 'Cairo', sans-serif;
}
.norm .norm-content .content .img img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}
@media (min-width: 320px) and (max-width: 480px){
  .norm{
    margin-top: 0px;
  }
  .norm .norm-header{
    height: 70vh;
  }
  .norm .norm-header .text .title{
    left: 0;
    text-align: center;
  }
  .norm .norm-header .text .title h1{
    font-size: 40px;
  }
  .norm .norm-content .title h3{
    font-size: 40px;
  }
  .norm .norm-content .content .text p{
    font-size: 18px;
    text-align: left;
    padding: 0 10px;
  }
  .norm .card{
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@media (min-width:481px) and (max-width: 760px){
  .norm{
    margin-top: 0px;
  }
  .norm .norm-header{
    height: 70vh;
  }
  .norm .norm-header .text .title{
    left: 0;
    text-align: center;
  }
  .norm .norm-header .text .title h1{
    font-size: 45px;
  }
  .norm .norm-content .title h3{
    font-size: 45px;
  }
  .norm .norm-content .content .text p{
    font-size: 19px;
    text-align: left;
    padding: 0 10px;
  }
  .norm .card{
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 761px) and (max-width: 990px){
  .norm{
    margin-top: 0px;
  }
  .norm .norm-header .text .title{
    left: 0;
    text-align: center;
  }
  .norm .norm-header .text .title h1{
    font-size: 50px;
  }
  .norm .norm-content .title h3{
    font-size: 50px;
  }
  .norm .norm-content .content .text p{
    font-size: 20px;
    text-align: center;
  }
  .norm .card{
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 991px) and (max-width: 1200px){
  .norm .norm-header .text .title h1{
    font-size: 55px;
  }
  .norm .norm-content .title h3{
    font-size: 55px;
  }
  .norm .norm-content .content .text p{
    font-size: 21px;
  }
}

@media (min-width: 1201px){
}
