<section class="norm">
  <div class="norm-header">
    <div class="text">
      <div class="title container">
        <h1 data-aos="fade-left">NORM SERVICES</h1>
      </div>
    </div>
  </div>
  <div class="norm-content">
    <div class="container">
      <div class="row">
        <div class="title col-md-12">
          <h3 data-aos="fade-up">NORM SERVICES</h3>
        </div>
        <div class="content row">
          <div class="text col-md-6 col-sm-12">
            <p data-aos="fade-up">
              The requirements of Unico NORM basics for standard safety rules, references & regulations were established in 1/1/2017 to be an effective step to Unico's History of basic safety standards for the protection of the health of workers and the general public.
            </p>
            <hr>
            <p data-aos="fade-down">
              Unico avoids any dangers arising from ionizing and ensures the health protection of all individuals against the dangers of radiation of NORM in relation to medical exposure and the requirements of Egyptian Atomic Energy Agency Safety Series and ENRRA Reference Rules.
            </p>
          </div>
          <div class="img col-md-6 col-sm-12">
            <img data-aos="fade-left" src="../../../assets/img/norm/norm2.jpg" alt="Loading...">
          </div>
        </div>
          <div class="cen-cards">
            <div class="flex row">
              <div class="col-md-6 col-sm-12">
                <div class="card one" data-aos="fade-right">
                  <div class="header">

                  </div>

                  <div class="content" data-aos="fade-down">
                    <h3>NORM SERVICES</h3>
                    <ul>
                      <li>
                        Confined Space: The decontamination covers Separators, vessels, or any closed decontaminated devices
                      </li>
                      <li>
                        Tubular and Down-hole Tools: Includes Rod, ESP , pipes decontamination
                      </li>
                      <li>
                        Soil Remediation : Decontamination of Evaporation ponds , soil pits and APIs
                      </li>
                      <li>
                        Waste Management: Managing the waste through handling and safely transportation and radioactive including treatment
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="card two" data-aos="fade-left">
                  <div class="header">

                  </div>
                  <div class="content" data-aos="fade-down">
                    <h3>NORM TECHNIQUES</h3>
                    <ul>
                      <li>Chemical Treatment</li>
                      <li>Norminator</li>
                      <li>Sand Blasting</li>
                      <li>HPWJ Method / (High pressure Water Jet)</li>
                      <li>Dustless Method</li>
                      <li>Dust Free</li>
                      <li>Laser Jet</li>
                      <li>Rod Machine</li>
                      <li>Dismantling Bench</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
      </div>
    </div>
  </div>
</section>
