.mang-report{
  padding: 20px;
}
.card{
    margin-bottom: 10px;
}
h1{
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: uppercase;
  border-bottom: .2px solid;
  margin: 20px;
}
.card-title{
  font-size: 22px;
  font-family: 'Cairo';
  text-transform: uppercase;
  font-weight: 700;
  height: 45px;
}
.card-text{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Allerta Stencil', sans-serif;
}
.card button{
  background-color: #1a2628;
  font-family: 'Cairo';
}
.modal-title{
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: uppercase;
}
.modal-body h2{
  font-size: 30px;
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: uppercase;
}
.table{
  font-family: 'Cairo';
  text-transform: capitalize;
}
