.txt{
  top: 20px;
}
.seemore{
  font-weight:600;
  font-size:20px;
}
@media (min-width: 320px) and (max-width: 480px){
  .img-block img{
    height: 70vh;
  }
  .slider{
    margin-top: 0;
  }
  .about-h .left img{
    margin-top: 0;
    height:auto;
  }
  .about-h h3{
    font-size: 30px;
  }
  .about-h .right .text p{
    font-size: 15px;
  }
  .about-h .right .bot{
    margin-top: 25px;
    text-align: center;
  }
  .about-h .right .bot button{
    font-size: 13px;
  }
  .bf .title span{
    font-size: 30px;
  }
  .ser .left .content{
    padding-top: 15%;
  }
  .ser .left .content h3{
    font-size: 35px;
  }
  .ser .left .content p{
    font-size: 17px;
    padding-right: 5px;
    padding-left: 0;
    margin-top: 30px;
  }
  .ser .spec{
    left:0;
  }
  .team .container{
    margin-top: -65px;
  }
  .team .title h3{
    font-size: 30px;
    margin-top: 30px;
  }
  .client .container{
    margin-top: -70px;
  }
  .client .title{
    margin-top: 30px;
    margin-bottom: 0;
  }
  .client .title h3{
    font-size: 30px;
  }
  .client .car{
    margin-bottom: 0;
  }
  .map .img-map{
    height: auto;
  }
  .map .text{
    padding-left: 0;
  }
  .map .text h3{
    font-size: 35px;
  }
  .txt{
    top: -200px;
  }
  .pin1, .pin2, .pin3, .pin4, .pin5, .pin6, .pin7{
    width: 24px;
  }
  .map .img-map .card .card-body{
    padding: 5px;
  }
  .map .img-map .card .card-title{
    font-size: 20px;
  }
  .map .img-map .pin1{
    top: 16%;
    left: 38%;
  }
  .map .img-map .pin1_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin2{
    top: 13%;
  }
  .map .img-map .pin2_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin4{
    top: 11%;
    left: 44%;
  }
  .map .img-map .pin4_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin5{
    top:20%
  }
  .map .img-map .pin5_text .card{
    margin-top: 65%;
  }
  .map .img-map .pin6{
    top:12%
  }
  .map .img-map .pin6_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin3{
    top: 19%;
    left: 65%;
  }
  .map .img-map .pin3_text .card{
    margin-top: 65%;
    left: 90%
  }  .carousel-caption{
    display: flex;
    align-items: center;
    top: 5%;
    bottom: 30px;
    background: #25243c59;
    left: 10%!important;
    right: 10%!important;
  }
  .carousel-caption h3{
    font-size: 24px;
    margin-bottom: 15px;
  }
  .carousel-caption p{
    font-size: 15px;
  }
  .seemore{
    font-size:14px;
  }
}

@media (min-width: 481px) and (max-width: 760px){
  .img-block img{
    height: 70vh;
  }
  .slider{
    margin-top: 0;
  }
  .about-h .left img{
    margin-top: 0;
    height:auto;
  }
  .about-h h3{
    font-size: 40px;
  }
  .about-h .right .text p{
    font-size: 18px;
  }
  .about-h .right .bot{
    margin-top: 25px;
    text-align: center;
  }
  .about-h .right .bot button{
    font-size: 16px;
  }
  .bf .title span{
    font-size: 40px;
  }
  .ser .left .content{
    padding-top: 15%;
  }
  .ser .right .content{
    padding-top: 2%;
  }
  .ser .left .content h3{
    font-size: 45px;
  }
  .ser .left .content p{
    font-size: 20px;
    padding-right: 5px;
    padding-left: 0;
    margin-top: 30px;
  }
  .ser .spec{
    left:0;
  }
  .main{
    margin-bottom: 50px;
  }
  .team .container{
    margin-top: -65px;
  }
  .team .title h3{
    font-size: 40px;
    margin-top: 30px;
  }
  .client .container{
    margin-top: -70px;
  }
  .client .title{
    margin-top: 30px;
    margin-bottom: 0;
  }
  .client .title h3{
    font-size: 40px;
  }
  .client .car{
    margin-bottom: 0;
  }
  .map .img-map{
    height: auto;
  }
  .map .text{
    padding-left: 0;
  }
  .map .text h3{
    font-size: 35px;
  }
  .txt{
    top: -100px;
  }
  .pin1, .pin2, .pin3, .pin4, .pin5, .pin6, .pin7{
    width: 30px;
  }
  .map .img-map .card .card-body{
    padding: 5px;
  }
  .map .img-map .card .card-title{
    font-size: 20px;
  }
  .map .img-map .pin1{
    top: 19%;
    left: 38%;
  }
  .map .img-map .pin1_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin2{
    top: 16%;
  }
  .map .img-map .pin2_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin4{
    top: 13%;
    left: 44%;
  }
  .map .img-map .pin4_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin5{
    top:23%
  }
  .map .img-map .pin5_text .card{
    margin-top: 65%;
  }
  .map .img-map .pin6{
    top:14%
  }
  .map .img-map .pin6_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin3{
    top: 25%;
    left: 65%;
  }
  .map .img-map .pin3_text .card{
    margin-top: 65%;
    left: 90%
  }
  .carousel-caption{
    display: flex;
    align-items: center;
    top: 5%;
    bottom: 30px;
    background: #25243c59;
    left: 10%!important;
    right: 10%!important;
  }
  .carousel-caption h3{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .carousel-caption p{
    font-size: 19px;
  }
  .seemore{
    font-size:17px;
  }

}

@media (min-width: 761px) and (max-width: 990px){
  .slider{
    margin-top: 0;
  }
  .about-h .left img{
    margin-top: 0;
    height:auto;
  }
  .about-h h3{
    font-size: 50px;
  }
  .about-h .right .text p{
    font-size: 19px;
  }
  .about-h .right .bot{
    margin-top: 25px;
    text-align: center;
  }
  .about-h .right .bot button{
    font-size: 17px;
  }
  .bf .title span{
    font-size: 50px;
  }
  .ser .left .content{
    padding-top: 15%;
  }
  .ser .right .content{
    padding-top: 10%;
  }
  .ser .left .content h3{
    font-size: 55px;
  }
  .ser .left .content p{
    font-size: 21px;
    padding-right: 5px;
    padding-left: 0;
    margin-top: 30px;
  }
  .ser .spec{
    left:0;
  }
  .main{
    margin-bottom: 50px;
  }
  .team .container{
    margin-top: -65px;
  }
  .team .title h3{
    font-size: 50px;
    margin-top: 30px;
  }
  .client .container{
    margin-top: -70px;
  }
  .client .title{
    margin-top: 30px;
    margin-bottom: 0;
  }
  .client .title h3{
    font-size: 50px;
  }
  .client .car{
    margin-bottom: 0;
  }
  .map .img-map{
    height: auto;
  }
  .map .text{
    padding-left: 0;
  }
  .map .text h3{
    font-size: 35px;
  }
  .pin1, .pin2, .pin3, .pin4, .pin5, .pin6, .pin7{
    width: 30px;
  }
  .map .img-map .card .card-body{
    padding: 5px;
  }
  .map .img-map .card .card-title{
    font-size: 20px;
  }
  .map .img-map .pin1{
    top: 20%;
    left: 38%;
  }
  .map .img-map .pin1_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin2{
    top: 18%;
  }
  .map .img-map .pin2_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin4{
    top: 15%;
    left: 44%;
  }
  .map .img-map .pin4_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin5{
    top:25%
  }
  .map .img-map .pin5_text .card{
    margin-top: 65%;
  }
  .map .img-map .pin6{
    top:16%
  }
  .map .img-map .pin6_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin3{
    top: 28%;
    left: 65%;
  }
  .map .img-map .pin3_text .card{
    margin-top: 65%;
    left: 90%
  }
  .map .text .head span{
    font-size: 17px;
  }
  .carousel-caption h3{
    font-size: 38px;
    margin-bottom: 20px;
  }
  .carousel-caption p{
    font-size: 23px;
  }
  .carousel-caption{
    bottom: 100px;
  }
}

@media (min-width: 991px) and (max-width: 1200px){
  .about-h h3{
    font-size: 55px;
  }
  .about-h .right .text p{
    font-size: 20px;
  }
  .bf .title span{
    font-size: 55px;
  }
  .service{
    padding: 10px;
  }
  .service h4{
    font-size: 20px;
  }
  .service p{
    font-size: 19px;
  }
  .main{
    margin-bottom: 105px;
  }
  .ser .left .content p{
    font-size: 21px;
  }
  .team .container{
    margin-top: -285px;
  }
  .team .title h3{
    font-size: 55px;
    margin-top: 30px;
  }
  .client .container{
    margin-top: -240px;
  }
  .client .title h3{
    font-size: 55px;
  }
  .txt{
    top: 0px;
  }
  .map .text h3{
    font-size: 44px;
  }
  .pin1, .pin2, .pin3, .pin4, .pin5, .pin6, .pin7{
    width: 30px;
  }
  .map .img-map .card .card-body{
    padding: 5px;
  }
  .map .img-map .card .card-title{
    font-size: 20px;
  }
  .map .img-map .pin1{
    top: 19%;
    left: 38%;
  }
  .map .img-map .pin1_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin2{
    top: 18%;
  }
  .map .img-map .pin2_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin4{
    top: 14%;
    left: 44%;
  }
  .map .img-map .pin4_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin5{
    top:25%
  }
  .map .img-map .pin5_text .card{
    margin-top: 65%;
  }
  .map .img-map .pin6{
    top:15%
  }
  .map .img-map .pin6_text .card{
    margin-top: 75%;
  }
  .map .img-map .pin3{
    top: 25%;
    left: 65%;
  }
  .map .img-map .pin3_text .card{
    margin-top: 65%;
    left: 90%
  }
  .map .text .head span{
    font-size: 17px;
  }
  .map .head{
    margin-bottom: 8px;
  }
  .carousel-caption h3{
    font-size: 40px;
  }
  .carousel-caption p{
    font-size: 24px;
  }
    .carousel-caption{
    bottom: 100px;
  }
}

@media (min-width: 1201px){
  .carousel-caption{
    height: 100%;
    background: #0000004a;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .carousel-caption h3{
    font-size: 45px;
    font-family: 'Gugi', cursive;
    font-weight: 800;
    text-transform: uppercase;
  }
  .carousel-caption p{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Cairo', sans-serif;
  }
  .carousel-caption .cpation-content{
    position: relative;
    margin-top: 20%;
  }

}

