.normlist{
  margin-left: 18px;
}
@media (max-width: 991px) {
  .navbar-brand img{
    display: block;
  }
  .topnavbar .navmiddle{
    display: none;
  }
  nav{
    width: 100%;
    margin-left: 0%;
    text-align: center;
  }
  .topnavbar .navtop .left .text::before{
    display: none;
  }
  .topnavbar .navtop .right .list{
    float: none;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 480px){
  .topnavbar .navtop .left{
    padding-top: 0;
  }
  .topnavbar .navtop .left .text{
    margin-left: 0;
    text-align: center;
  }
  .topnavbar .navtop .left .text span{
    font-size: 14px;
    margin-left: 0;
    text-align: center;
  }
  .topnavbar .navtop .right .list{
    text-align: center;
    margin-right: 25px;
  }
  .topnavbar .navtop .right .list ul{
    font-size: 0;
  }
  .topnavbar .navtop .right .list ul li{
    margin: 0;
    font-size: 11px;
    margin-right: 5px;
  }
  .navbar-brand img{
    margin: 0;
    width: 100px;
    height: auto;
  }
  .topnavbar .navtop .right .list ul li a img{
    margin-right: 2px;
    width: 15px;
    height: 15px;
  }
  .navbar-toggler{
    margin-top: 5px;
  }
  .navbar-nav .nav-item .linkli{
    transform: none;
  }
  .navbar-nav .nav-item .linkli span{
    position: initial;
    transform: none;
  }
  .ENVIRONMENTAL ul{
    top: 40%;
  }
  .NORM ul{
    top: 50%;
    left: 10%;
  }
  .LIFTING ul{
    top: 60%;
    left: 10%;
  }
  .DRILLING ul{
    top: 72%;
  }
  .PRODUCTION ul{
    top: 83%;
  }
  .QHSE ul{
    top: 62%;
  }
}

@media (min-width: 481px) and (max-width: 760px){
  .topnavbar .navtop .left{
    padding-top: 0;
  }
  .topnavbar .navtop .left .text{
    margin-left: 0;
    text-align: center;
  }
  .topnavbar .navtop .left .text span{
    font-size: 18px;
    margin-left: 0;
    text-align: center;
  }
  .topnavbar .navtop .right .list{
    text-align: center;
    margin-right: 25px;
  }
  .topnavbar .navtop .right .list ul{
    font-size: 0;
  }
  .topnavbar .navtop .right .list ul li{
    margin: 0;
    font-size: 15px;
    margin-right: 10px;
  }
  .navbar-brand img{
    margin: 0;
    width: 100px;
    height: auto;
  }
  .topnavbar .navtop .right .list ul li a img{
    margin-right: 2px;
    width: 20px;
    height: auto;
  }
  .navbar-toggler{
    margin-top: 5px;
  }
  .navbar-nav .nav-item .linkli{
    transform: none;
  }
  .navbar-nav .nav-item .linkli span{
    position: initial;
    transform: none;
  }
  .ENVIRONMENTAL ul{
    top: 40%;
  }
  .NORM ul{
    top: 50%;
  }
  .LIFTING ul{
    top: 60%;
  }
  .DRILLING ul{
    top: 72%;
  }
  .PRODUCTION ul{
    top: 83%;
  }
  .QHSE ul{
    top: 62%;
  }
}

@media (min-width: 761px) and (max-width: 990px){
  .topnavbar .navtop .left{
    padding-top: 0;
  }
  .topnavbar .navtop .left .text{
    margin-left: 0;
    text-align: center;
    margin-top: 10px;
  }
  .topnavbar .navtop .left .text span{
    font-size: 17px;
    margin-left: 0;
    text-align: center;
  }
  .topnavbar .navtop .right .list{
    text-align: center;
    margin-right: 50px;
  }
  .topnavbar .navtop .right .list ul{
    font-size: 0;
  }
  .topnavbar .navtop .right .list ul li{
    margin: 0;
    font-size: 17px;
    margin-right: 10px;
  }
  .navbar-brand img{
    margin: 0;
    width: 100px;
    height: auto;
  }
  .topnavbar .navtop .right .list ul li a img{
    margin-right: 2px;
    width: 25px;
    height: auto;
  }
  .navbar-toggler{
    margin-top: 5px;
  }

  .navbar-nav .nav-item .linkli{
    transform: none;
  }
  .navbar-nav .nav-item .linkli span{
    position: initial;
    transform: none;
  }
  .ENVIRONMENTAL ul{
    top: 40%;
  }
  .NORM ul{
    top: 50%;
  }
  .LIFTING ul{
    top: 60%;
  }
  .DRILLING ul{
    top: 72%;
  }
  .PRODUCTION ul{
    top: 83%;
  }
  .QHSE ul{
    top: 62%;
  }
}

@media (min-width: 991px) and (max-width: 1200px){}

@media (min-width: 1201px){
}
