@media (min-width: 320px) and (max-width: 480px){
  .cen{
    margin-top: 0px;
  }
  .cen .cen-header .text .title{
    left: 0;
    text-align: center;
  }
  .cen .cen-header .text .title h1{
    font-size: 40px;
  }
  .cen .cen-content .title h3{
    font-size: 35px;
  }
  .cen .cen-content .text h4{
    font-size: 25px;
    text-align: center;
  }
  .cen .cen-content .text p{
    text-align: center;
    font-size: 18px;
  }
  .cen .card{
    margin: 10px 0px;
  }
}

@media (min-width:481px) and (max-width: 760px){
  .cen{
    margin-top: 0px;
  }
  .cen .cen-header .text .title{
    left: 0;
    text-align: center;
  }
  .cen .cen-header .text .title h1{
    font-size: 45px;
  }
  .cen .cen-content .title h3{
    font-size: 40px;
  }
  .cen .cen-content .text h4{
    font-size: 28px;
    text-align: center;
  }
  .cen .cen-content .text p{
    text-align: center;
    font-size: 19px;
  }
  .cen .card{
    margin: 10px 0px;
  }
}

@media (min-width: 761px) and (max-width: 990px){
  .cen{
    margin-top: 0px;
  }
  .cen .cen-header .text .title{
    left: 0;
    text-align: center;
  }
  .cen .cen-header .text .title h1{
    font-size: 45px;
  }
  .cen .cen-content .title h3{
    font-size: 45px;
  }
  .cen .cen-content .text h4{
    font-size: 30px;
    text-align: center;
  }
  .cen .cen-content .text p{
    text-align: center;
    font-size: 19px;
  }
  .cen .card{
    margin: 10px 0px;
  }
}

@media (min-width: 991px) and (max-width: 1200px){

  .cen .cen-header .text .title h1{
    font-size: 55px;
  }
  .cen .cen-content .title h3{
    font-size: 55px;
  }
  .cen .cen-content .text h4{
    font-size: 30px;
    text-align: center;
  }
  .cen .cen-content .text p{
    text-align: center;
    font-size: 20px;
  }
}

@media (min-width: 1201px){
}
