
<main class="page-content">
  <div class="card">
    <div class="content">
      <h2 class="title">طلب اجازة</h2>
      <button class="btn" data-toggle="modal" data-target="#vacation"><img src="../../../../assets/img/dashboard/preview-icon.png" />Preview Form</button>
      <button class="btn" onclick="printJS({printable:'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf', type:'pdf', showModal:true})"><img src="https://img.icons8.com/small/16/ffffff/print.png"/>Print Form</button>

    </div>
  </div>
  <!--Modal-->
  <div class="modal fade" id="vacation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Vacation Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <embed
          type="application/pdf"
          src="https://unico-egypt.com/assets/img/dashboard/internal_work_reg.pdf#toolbar=0"
          width="100%"
          height="400px" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">طلب إذن</h2>
      <button class="btn" data-toggle="modal" data-target="#vacation1"><img src="../../../../assets/img/dashboard/preview-icon.png" />Preview Form</button>
      <button class="btn" onclick="printJS({printable:'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf', type:'pdf', showModal:true})"><img src="https://img.icons8.com/small/16/ffffff/print.png"/>Print Form</button>
    </div>
  </div>
  <!--Modal-->
  <div class="modal fade" id="vacation1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Vacation Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <embed
          type="application/pdf"
          src="https://unico-egypt.com/assets/img/dashboard/internal_work_reg.pdf#toolbar=0"
          width="100%"
          height="400px" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">طلب استقالة</h2>
      <button class="btn" data-toggle="modal" data-target="#vacation2"><img src="../../../../assets/img/dashboard/preview-icon.png" />Preview Form</button>
      <button class="btn" onclick="printJS({printable:'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf', type:'pdf', showModal:true})"><img src="https://img.icons8.com/small/16/ffffff/print.png"/>Print Form</button>
    </div>
  </div>
  <!--Modal-->
  <div class="modal fade" id="vacation2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Vacation Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <embed
          type="application/pdf"
          src="https://unico-egypt.com/assets/img/dashboard/internal_work_reg.pdf#toolbar=0"
          width="100%"
          height="400px" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">نموذج مأموريات</h2>
      <button class="btn" data-toggle="modal" data-target="#vacation3"><img src="../../../../assets/img/dashboard/preview-icon.png" />Preview Form</button>
      <button class="btn" onclick="printJS({printable:'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf', type:'pdf', showModal:true})"><img src="https://img.icons8.com/small/16/ffffff/print.png"/>Print Form</button>
    </div>
  </div>
  <!--Modal-->
  <div class="modal fade" id="vacation3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Vacation Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <embed
          type="application/pdf"
          src="https://unico-egypt.com/assets/img/dashboard/internal_work_reg.pdf#toolbar=0"
          width="100%"
          height="400px" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">إنذار بالفصل</h2>
      <button class="btn" data-toggle="modal" data-target="#vacation3"><img src="../../../../assets/img/dashboard/preview-icon.png" />Preview Form</button>
      <button class="btn" onclick="printJS({printable:'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf', type:'pdf', showModal:true})"><img src="https://img.icons8.com/small/16/ffffff/print.png"/>Print Form</button>
    </div>
  </div>
  <!--Modal-->
  <div class="modal fade" id="vacation3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Vacation Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <embed
          type="application/pdf"
          src="https://unico-egypt.com/assets/img/dashboard/internal_work_reg.pdf#toolbar=0"
          width="100%"
          height="400px" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">إقرار نهائى بالمخالصة</h2>
      <button class="btn" data-toggle="modal" data-target="#vacation3"><img src="../../../../assets/img/dashboard/preview-icon.png" />Preview Form</button>
      <button class="btn" onclick="printJS({printable:'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf', type:'pdf', showModal:true})"><img src="https://img.icons8.com/small/16/ffffff/print.png"/>Print Form</button>
    </div>
  </div>
  <!--Modal-->
  <div class="modal fade" id="vacation3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Vacation Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <embed
          type="application/pdf"
          src="https://unico-egypt.com/assets/img/dashboard/internal_work_reg.pdf#toolbar=0"
          width="100%"
          height="400px" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">قرار إدارى</h2>
      <button class="btn" data-toggle="modal" data-target="#vacation3"><img src="../../../../assets/img/dashboard/preview-icon.png" />Preview Form</button>
      <button class="btn" onclick="printJS({printable:'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf', type:'pdf', showModal:true})"><img src="https://img.icons8.com/small/16/ffffff/print.png"/>Print Form</button>
    </div>
  </div>
  <!--Modal-->
  <div class="modal fade" id="vacation3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Vacation Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <embed
          type="application/pdf"
          src="https://unico-egypt.com/assets/img/dashboard/internal_work_reg.pdf#toolbar=0"
          width="100%"
          height="400px" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">تحقيق إدارى</h2>
      <button class="btn" data-toggle="modal" data-target="#vacation3"><img src="../../../../assets/img/dashboard/preview-icon.png" />Preview Form</button>
      <button class="btn" onclick="printJS({printable:'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf', type:'pdf', showModal:true})"><img src="https://img.icons8.com/small/16/ffffff/print.png"/>Print Form</button>
    </div>
  </div>
  <!--Modal-->
  <div class="modal fade" id="vacation3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Vacation Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <embed
          type="application/pdf"
          src="https://unico-egypt.com/assets/img/dashboard/internal_work_reg.pdf#toolbar=0"
          width="100%"
          height="400px" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</main>
