
/***********/
.go{
width: 100%;
background-color: #dddddd85;
padding: 10px;
position: relative;
border-radius: 10px;
box-shadow: 4px 13px 27px 1px rgb(0 0 0 / 23%);
transition: all 0.5s linear;
overflow: hidden;
}

.go:hover{
background-color: #e9e9f1;
transition: all 0.5s linear;

}
.go::before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 9%;
  height: 20%;
  background-color: #3131a5;
  color: #fff;
  border-radius: 10px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  display: none;
}
.go::after{
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 9%;
  height: 20%;
  background-color: #bf1e2d;
  color: #fff;
  border-radius: 10px;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  display: none;
}
.go h2{
  border-bottom: 2px solid #c3bcbc;
  font-size: 28px;
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: uppercase;
  text-align: left;
  color: #3131a5;
  padding: 15px;
}
.go p {
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Cairo';
  border-bottom: 2px solid #c3bcbc;
  text-align: justify;
}
.go span{
  text-align: center;
}

/*********/
a:hover { text-decoration: none }

.feature-card {
    width: 100%;
    height: 450px;
    margin: 20px auto;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
}
.feature-card-deatails {
    position: absolute;
    bottom: -228px;
    left: 0;
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.6);
    transition: 0.3s ease-in-out;
    font-size: 15px;
    color: #888;
}

.feature-card-tilte {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    padding: 20px;
    background: #fff;
}

.feature-card-tilte h3 {
    font-size: 22px;
    font-weight: 700;
    color: #373737;
    font-family: 'Cairo';
}

.feature-card:hover .feature-card-tilte {
    bottom: -67px;
}

.feature-card-deatails i {
    font-size: 35px;
    color: #1d365c;
}

.feature-card-deatails h4 {
    font-size: 20px;
    color: #1d365c;
    margin: 15px 0;
    text-transform: uppercase;
    font-family: 'Cairo';
    font-weight: 700;
}
.feature-card-deatails p{
  font-family: 'Cairo';
  color: black;
}
.feature-card-deatails button{
  background-color: #BF1E2D;
}
.feature-card-deatails a {
    display: inline-block;
    margin-top: 15px;
    color: #1d365c;
    text-decoration: none;
    font-weight: 700;
}

.feature-card:hover .feature-card-deatails {
    bottom: 0;
}
.hidden{
  display: none;
}
/*******latest todo list********/
.hover-cursor{
    cursor: pointer;
    margin: 10px;
}
.todo .content,
.calendr .content{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  min-height: 403px;
}
.todo .content .todo-title{
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  color: #3131a5;
  text-transform: uppercase;
}
.todo .content .list-group-item{
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 18px;
  margin-bottom: 31px;
  text-transform: capitalize;
}
.calendr .content .cal-title{
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  color: #3131a5;
  text-transform: uppercase;
}
.calendr .content .list-group{
  margin-bottom: 30px;
}
.calendr .content .list-group-item{
  padding: 5px;
  margin-bottom: 6px;
}
.calendr .content .list-group-item h3{
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 18px;
}
.calendr .content .part-one{
  background-color: #ddd;
  border-radius: 10px;
  text-transform: capitalize;
 }
 .calendr .content .part-two{
  padding: 8px;
  text-transform: capitalize;
 }
/********calendar limit ********/

/********/
.noo{
  text-align: center;
  background-color: #ddd;
  border: 1px groove;
  border-radius: 20px;
  padding: 5px;
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 300;
}
.noo a{
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 15px;
}
/*************************/
.all-annou{
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.all-annou h1{
  font-size: 36px;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: uppercase;
  margin-bottom: 3%;
  color: #3131a5;
}
