.modal-title{
  color: #BF1E2D;
  font-family: 'Allerta Stencil', sans-serif;
  position: relative;
  left: 3%;
  font-size: 23px;
}
.modal-body{
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Cairo';
  text-align: justify;
  color: #1F567C;
}
/***********/
.go{
width: 100%;
background-color: #dddddd85;
padding: 10px 25px 10px 25px;
position: relative;
border-radius: 10px;
box-shadow: 4px 13px 27px 1px rgb(0 0 0 / 23%);
transition: all 0.5s linear;
overflow: hidden;
}

.go:hover{
background-color: #e9e9f1;
transition: all 0.5s linear;

}

.go h2{
  border-bottom: 2px solid #c3bcbc;
  font-size: 28px;
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: uppercase;
  text-align: left;
  color: #1F567C;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.last_ann_title{
  font-size: 28px!important;
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: uppercase;
  color: #1F567C!important;
  padding: 10px!important;
  white-space: nowrap;
  overflow: hidden;
}
.go p {
  padding: 0px 25px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Cairo';
  text-align: justify;
  /*white-space: nowrap;*/
  overflow: hidden;
  /*height: 14vh;*/
}

.go span{
  font-size: 14px;
  color: #646161;
  margin-bottom: 1px groove;
  padding: 5px;
  display: block;
}
.go img{
  width: initial!important;
  height: auto!important;
}
carousel{
  height: 41vh!important;
  z-index: 1!important;
}
/*********/
a:hover { text-decoration: none }

.feature-card {
    width: 100%;
    height: 450px;
    margin: 20px auto;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
}
.feature-card-deatails {
    position: absolute;
    bottom: -228px;
    left: 0;
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.6);
    transition: 0.3s ease-in-out;
    font-size: 15px;
    color: #888;
}

.feature-card-tilte {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    padding: 20px;
    background: #fff;
}

.feature-card-tilte h3 {
    font-size: 22px;
    font-weight: 700;
    color: #373737;
    font-family: 'Cairo';
}

.feature-card:hover .feature-card-tilte {
    bottom: -67px;
}

.feature-card-deatails i {
    font-size: 35px;
    color: #1d365c;
}

.feature-card-deatails h4 {
    font-size: 20px;
    color: #1d365c;
    margin: 15px 0;
    text-transform: uppercase;
    font-family: 'Cairo';
    font-weight: 700;
}
.feature-card-deatails p{
  font-family: 'Cairo';
  color: black;
}
.feature-card-deatails button{
  background-color: #BF1E2D;
}
.feature-card-deatails a {
    display: inline-block;
    margin-top: 15px;
    color: #1d365c;
    text-decoration: none;
    font-weight: 700;
}

.feature-card:hover .feature-card-deatails {
    bottom: 0;
}
.hidden{
  display: none;
}
/*******latest todo list********/
.alert-msg{
  color: #1F567C;
  font-size: 15px;
}
.hover-cursor{
    cursor: pointer;
    margin: 10px;
}
.todo .content,
.calendr .content{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  min-height: 403px;
}
.todo .content .todo-title{
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  color: #1F567C;
  text-transform: uppercase;
}
.todo .content .list-group-item{
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 18px;
  margin-bottom: 31px;
  text-transform: capitalize;
  border-top: .25px solid #dddddd;
  word-break: break-all;
}
.calendr .content .cal-title{
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  color: #1F567C;
  text-transform: uppercase;
}
.calendr .content .list-group{
  margin-bottom: 30px;
}
.calendr .content .list-group-item{
  padding: 5px;
  margin-bottom: 6px;
}
.calendr .content .list-group-item h3{
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 18px;
  word-break: break-all;
}
.calendr .content .part-one{
  background-color: #ddd;
  border-radius: 10px;
  text-transform: capitalize;
 }
 .calendr .content .part-two{
  padding: 8px;
  text-transform: capitalize;
 }
/********calendar limit ********/

/********/
.noo{
  text-align: center;
  background-color: #ddd;
  border: 1px groove;
  border-radius: 20px;
  padding: 5px;
  font-family: 'CAIRO';
  font-weight: 300;
}
.noo a{
  font-family: 'CAIRO';
  font-size: 15px;
}
/*************************/
.all-annou{
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.all-annou h1{
  font-size: 36px;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2%;
  color: #bf1e2d;
}
/**/
.all-totals{
  padding: 0px 20px 0px 20px;
}
.totals{
  padding: 20px;
}
.totalCart{
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  margin: 0;
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 300;
}
.totalCart h4{
  color: #BF1E2D;
  text-transform: uppercase;
  font-family: 'Allerta Stencil', sans-serif;
  padding: 5px;
  border-bottom: 1px groove;
}
.totalCart span{
  font-size: 30px;
  font-weight: 700;
  color: #1F567C;
}
/*announce slider*/
.hedr{
  margin-left: 15px;
}
.hedr span{
  padding: 0!important;
  display: block;
}
.go hr{
  margin: 5px;
}
::ng-deep .all-totals .carousel-control-next{
  right: -45px!important;
  opacity: 1!important;
  top: 50px!important;
}
::ng-deep .all-totals .carousel-control-prev{
  left: -45px!important;
  opacity: 1!important;
  top: 50px!important;
}
::ng-deep .all-totals .carousel-control-next-icon{
  background-image: initial!important;
  background: url(https://img.icons8.com/ios-glyphs/28/000000/more-than.png)!important;
  width: 28px!important;
  height: 28px!important;
}
::ng-deep .all-totals .carousel-control-prev-icon{
  background-image: initial!important;
  background: url(https://img.icons8.com/ios-glyphs/28/000000/less-than.png)!important;
  height: 28px!important;
  width: 28px!important;
}

/*first visit modal*/
#demo-modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s;
  background: rgba(77, 77, 77, .7);
  z-index: 2000;
}

#demo-modal:target {
  visibility: visible;
  opacity: 1;
}

#demo-modal .modal__content {
  border-radius: 4px;
  position: relative;
  width: 50%;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
  top: 15%;
  left: 30%;
  background: url(https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?size=626&ext=jpg) center center;
  background-size: cover;
}
.modal__content #logo{
  width: 100px;
  float: left;
}
.modal__content h4{
  top:15px;
  position: relative;
  clear: both;
  text-transform: uppercase;
  color: #BF1E2D;
  font-family: 'Allerta Stencil', sans-serif
}
.modal__content h3{
  top:25px;
  font-size: 20px;
  position: relative;
  font-family: 'Allerta Stencil', sans-serif
}
.modal__content p{
  font-weight: 600;
  position: relative;
  top: 30px;
  font-family: 'Cairo';
}
.modal__content ul{
  text-align: left;
  border: 1px groove;
  position: relative;
  top: 25px;
  font-family: 'Cairo';
  list-style: none;
  padding: 0;
}
.modal__content ul li {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 18%;
}
.modal__content span{
  font-weight: 900;
  position: relative;
  top: 15px;
  font-family: 'Cairo';
}
#demo-modal .modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
  background: white;
  font-weight: 900;
}


/*Media Quaries*/
@media (min-width: 320px) and (max-width: 480px){
  .all-totals{
    padding: 0px 10px 0px 10px;
  }
  .totals{
    padding: 10px;
  }
  .totalCart{
    margin: 5px 0px;
  }
  .totalCart .left, .totalCart .right{
    width: 50%;
  }
  .all-annou{
    padding: 0;
  }
  .all-annou h1{
    font-size: 25px;
    padding-top: 3%;
  }
  .all-annou h1 img{
    display: none;
  }
  .carousel-wrapper{
    margin: 5px;
  }
  .go{
    padding: 0;
    min-height: 252px;
  }
  .last_ann_title{
    font-size: 20px!important;
  }
  .hedr span{
    font-size: 10px;
  }
  .go p{
    padding: 22px;
    font-size: 17px;
  }
  .nav-dot{
    display: none;
  }
  .right-arrow, .left-arrow{
    font-size: 35px;
    top: 88%;
  }
  .alert-msg{
    font-size: 12px;
    padding: 3px;
  }
  hr{
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  ::ng-deep .all-totals .carousel-control-next{
  right: -10px!important;
  top: 75%!important;
}
::ng-deep .all-totals .carousel-control-prev{
  left: -10px!important;
  top: 75%!important;
}
::ng-deep .all-totals .carousel-control-next-icon{
  background-image: initial!important;
  background: url(https://img.icons8.com/fluency/24/000000/double-right.png)!important;
}
::ng-deep .all-totals .carousel-control-prev-icon{
  background-image: initial!important;
  background: url(https://img.icons8.com/fluency/24/000000/double-left.png)!important;
}
.hedr{
  margin: 8px 0 5px 10px;
}
}

@media (min-width:481px) and (max-width: 760px){
  .all-totals{
    padding: 0px 10px 0px 10px;
  }
  .totals{
    padding: 10px;
  }
  .totalCart{
    margin: 5px 0px;
  }
  .totalCart .left, .totalCart .right{
    width: 50%;
  }
  .all-annou{
    padding: 0;
  }
  .all-annou h1{
    font-size: 30px;
    padding-top: 3%;
  }
  .all-annou h1 img{
    display: none;
  }
  .go{
    min-height: 324px;
  }
  .last_ann_title{
    font-size: 22px!important;
  }
  .hedr span{
    font-size: 13px;
  }
  .go p{
    padding: 10px;
    font-size: 17px;
  }
  .nav-dot{
    display: none;
  }
  .right-arrow, .left-arrow{
    font-size: 35px;
    top: 88%;
  }
  .alert-msg{
    font-size: 15px;
    padding: 5px;
  }
  hr{
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  ::ng-deep .all-totals .carousel-control-next{
    right: -10px!important;
    top: 75%!important;
  }
  ::ng-deep .all-totals .carousel-control-prev{
    left: -10px!important;
    top: 75%!important;
  }
  ::ng-deep .all-totals .carousel-control-next-icon{
    background-image: initial!important;
    background: url(https://img.icons8.com/fluency/24/000000/double-right.png)!important;
  }
  ::ng-deep .all-totals .carousel-control-prev-icon{
    background-image: initial!important;
    background: url(https://img.icons8.com/fluency/24/000000/double-left.png)!important;
  }
  .hedr{
    margin: 8px 0 5px 10px;
  }
}

