body {
    background: #fafafa;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-left: 0;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.navbar-nav .nav-item{
  margin-right: 0%;
  margin-left: 6%;
  min-width: 25%;
  text-transform: uppercase;
  font-weight: 700;
}
.bg-dark img{
  width: auto;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    /*background: #7386D5;*/
    background: #202E31;
    color: #fff;
    transition: all 0.3s;
     width: 100%;
     margin-left: 0;
     text-transform: uppercase;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1A2628;
}
.sidebar-header img{
  width: 100%;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #1A2628;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #1A2628;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #BF1E2D;
    font-weight: 700;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: none;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1A2628;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #1A2628;
}

a.article,
a.article:hover {
    background: #1A2628 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
    background: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?size=626&ext=jpg") fixed center center;
  background-size: cover;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/*************************************************/
.all-notify{
  z-index: 1;
  padding: 3px;
  position: relative;
  top: 0px;
  border-radius: 15%;
  background-color: #bf1e2d;
}
.btn-link{
  text-decoration: none;
  color: #3131a5;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-link span{
  color: white;
  position: absolute;
  right: 10%;
  border-radius: 30%;
  background-color: #bf1e2d;
  padding: 4px;
}
#accordion ul{
  list-style: none;
  padding: 0;
}
#accordion .card-body span{
  font-size: 11px;
  cursor: pointer;
  text-decoration: underline;
}
.dropdown-menu-notfy{
  width: 200%;
}

/*media*/
@media (min-width: 320px) and (max-width: 480px){
  .dropdown-menu-notfy{
    width: 100%;
  }
}

@media (min-width:481px) and (max-width: 760px){
  .dropdown-menu-notfy{
    width: 100%;
  }
}
